<div class="product-create-modal modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header bg-primary">
						<button ng-click="product.init()" type="button" class="close" data-dismiss="modal">&times;</button>
						<h6 class="modal-title">Ürün Ekleme</h6>
					</div>

					<div class="modal-body">
						<div class="form-group">
							<div class="row">
								<div class="col-sm-6" ng-class="product.name.cls">
									<label>Ürün Adı</label>
									<input type="text" class="form-control" ng-model="product.name.value" ng-change="product.name.change()">
									<span class="help-block">{{product.name.msg}}</span>
								</div>
								<div class="col-sm-6">
									<label>Ürün Açıklama</label>
									<input type="text" class="form-control" ng-model="product.comment.value">
								</div>
                                
							</div>
						</div>


					</div>

					<div class="modal-footer">
						<button ng-click="product.init()" type="button" class="btn btn-link" data-dismiss="modal">Kapat</button>
						<button ng-click="product.save()" type="button" class="btn btn-primary">Kaydet</button>
					</div>
				</div>
			</div>
		</div>